.b-block-tabbar-wrap {
	background: #1F1D33;
	border-bottom: solid 1px #6C73A6;
	height: 2.643em;
}

.b-block-tabbar {
	padding: 0px;
	margin: 0px;
	list-style: none;
	float: left;
}

.b-block-tabbar li {
	float: left;
	border: solid 1px #6C73A6;
	border-bottom: none;
	border-left: none;
	border-top: none;
	position: relative;
	height: 2.643em;
	line-height: 2.643em;
}
.b-block-tabbar .tabbar-item {
	float: left;
	color: #c7c7c7;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	position: relative;
	cursor:pointer;
}
.b-block-tabbar .tabbar-item:hover {
	background: #312e50;
	position: relative;
	color: #ffffff;
}
.b-block-tabbar .tabbar-item.selected {
	background: #2D2A49;
	height: 2.571em;
	color: #E5C700;
	border-top: solid 2px #E5C700;
	-webkit-box-shadow: inset 0px 2px 2px #1e1c30;
	-moz-box-shadow: inset 0px 2px 2px #1e1c30;
	box-shadow: inset 0px 2px 2px #1e1c30;
	white-space:nowrap;
}
.b-block-tabbar .tabbar-item .tab-selected {
	margin-top:-2px;
}
.b-block-tabbar.altcolor02 .tabbar-item.selected {
	background: #39345C;
}
.b-block-tabbar .tabbar-label {
	background: #262442 !important;
	color: #ffffff !important;
	padding-left: 16px;
}

.tab-panel-show {
	display: block;
}

.tab-panel-hide {
	display: none;
}